# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build

# environment
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/dev.db
prisma/migrations/

# logs
logs
*.log
